.dashboard {
  display: flex;
  height: 100vh;

  .sidebar {
    width: 200px;
    background-color: #ffffff; 
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .list-group {
      list-style: none;
      padding: 0;
      margin: 0;

      .list-group-item {
        margin-bottom: 10px;
        font-size: 16px;

        a {
          color: #000; 
          text-decoration: none;
          display: block;
          padding: 8px;
          transition: background-color 0.3s, color 0.3s;

          &:hover {
            background-color: #ddd;
            color: #007bff; 
          }
        }
      }
    }
  }

  .content {
    padding: 20px;
    flex-grow: 1;
    background-color: #f0f2f5;
  }
  
  .logo {
    color: #0a10c5; 
    font-size: 24px; 
    margin-bottom: 20px; 
    margin-left: 8px;
  }
  .active-link {
    background-color: #007bff; 
    color: #fff; 
  }
  
  
}
