.dashboard-container {
    display: flex;
  }
  
 
  
  .main-content {
    flex-grow: 1; /* Take remaining space */
    padding: 20px;
    background-color: #fafafa;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-image {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .other-dashboard-content {
    text-align: center;
  }
  