.friends-list {
  padding: 20px;
}

.friends-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
}

.friend-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex; 
  transition: transform 0.2s;
}

.friend-card:hover {
  transform: scale(1.05);
}

.friend-image-container {
  flex: 0 0 100px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; 
}

.friend-image {
  width: 100%; 
  height: auto; 
  border-radius: 10%; 
}

.friend-info {
  padding: 15px; 
  flex-grow: 1; 
  text-align: left; 
}

.friend-info h3 {
  margin: 0 0 5px;
  font-size: 18px;
}

.friend-info p {
  font-size:small;
  font-weight: bold;
  margin: 0;
  color: #666;
}
